
.container {
    max-width: 1440px;
    width: 100%;
    padding-top: 95px;
    margin: 0 auto;
}
/* ////////////////////ჰედერი/////////////// */
header {
    padding: 0 100px 0 100px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #9EAEC5;
    align-items: center;
    justify-content: space-between;
    font-family: 'Explora', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.logo_div {
    width: 196px;
    height: 100px;
    background-color: #C0BA8F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50% 50%;
    transition: 0.8s;
}

h1 {
    color: #F6F5F2;
    font-size: 2.25rem;
    font-weight: 700;
}

.logo_div:hover {
    box-shadow: 0 0 20px 30px #C0BA8F;
}

ul {
    display: flex;
    color: #E3F6F6;
    font-size: 1.5rem;
    gap: 47px;
}

li {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: transform 0.3s;
    font-weight: 700;
}

li:hover {
    color: brown;
    border-bottom: 3px solid brown;
    transform: translateY(-5px);
}

.home {
    color: brown;
}

.Artworks {
    color: #E3F6F6;
}

.contact {
    color: #E3F6F6;
}

.fa-solid.fa-cart-shopping {
    font-size: 2.25rem;
    color: #EDF0F5;
    cursor: pointer;
}

.fa-burger {
    display: none;
}
/* /////////////////////////////სექშენი//////////////////// */
section {
    width: 100%;
    margin: 0 auto;
    height: 678px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/Rectangle\ 1\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    border: #C0BA8F 10px solid;
    color: white;
    font-weight: 700;
    font-size: 6rem;
    font-family: 'Explora', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    animation: h2 4s 1;
    transition: 0.8s;
}

h2:hover {
    box-shadow: 0 0 30px 10px #C0BA8F;
}

@keyframes h2 {
    0% {
        opacity: 0;
        transform: translatex(-700px);
        border: 10px solid white;
    }

    100% {
        opacity: 1;
        border: 10px solid brown;
    }
}
/* //////////////////ფუტერი//////////////// */
footer {
    max-width: 1440px;
    width: 100%;
    height: 190px;
    margin: 0 auto;
    background-color: #C0BA8F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 47px;
    font-weight: 700;
}

h3 {
    font-size: 2.25rem;
    font-family: 'Explora', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: #F6F5F2;
}

h3:hover {
    color: brown;
    box-shadow: 0 0 40px 15px brown;
}

.text1 {
    font-size: 1.5rem;
    color: #DDDBCB;
    opacity: .7;
    font-weight: 300;
}

.fa-facebook-messenger {
    font-size: 2.25rem;
    color: #E3F6F6;
    transition: transform 0.3s;
}

.fa-facebook-messenger:hover {
    transform: translateY(-5px);
    color: rgb(1, 128, 255);
    border-radius: 50%;
}

.fa-instagram {
    font-size: 2.25rem;
    color: #E3F6F6;
    transition: transform 0.3s;
}

.fa-instagram:hover {
    transform: translateY(-5px);
    background: linear-gradient(blue, purple, pink, red, orange, yellow);
    border-radius: 5px;
}

.fa-youtube {
    font-size: 2.25rem;
    color: #E3F6F6;
    transition: transform 0.3s;
}

.fa-youtube:hover {
    transform: translateY(-5px);
    color: red;

}

.kits_div {
    display: flex;
    gap: 47px;
}

@media (max-width:1190px) {
    .container {
        max-width: 1190px;
    }

    h2 {
        font-size: 4rem;
        border: #C0BA8F 8px solid;
    }
}

@media (max-width:950px) {
    .container {
        max-width: 950px;
    }

    header {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:818px){
    h2{
        font-size: 3rem;
    }
}