/* /////////////ინდეხ.ჰტმლ/////////// */
@media (max-width:768px) {
    .container {
        max-width: 768px;
    }

    header {
        padding: 0 0 0 0;
    }

    .logo_div {
        width: 150px;
    }

    h1 {
        font-size: 1.5rem;
    }

    ul {
        font-size: 1.25rem;
        gap: 29px;
    }

    section {
        height: 450px;
        width: 100%;
    }

    h2 {

        border: #C0BA8F 7px solid;

    }

    @keyframes h2 {
        0% {
            opacity: 0;
            transform: translatex(-700px);
            border: 7px solid white;
        }

        100% {
            opacity: 1;
            border: 7px solid brown;
        }
    }

    footer {
        justify-content: space-between;
        height: 150px;
        padding-left: 21px;
        padding-right: 21px;
    }

    .text1 {
        display: none;
    }

    .kits_div {
        gap: 21px;
    }
}

@media (max-width:859px) {
    .text1 {
        font-size: 1.25rem;
    }
}

@media (max-width:627px) {
    .container {
        max-width: 627px;
        padding-top: 60px;
    }

    ul {
        gap: 16px;
    }

    h2 {
        font-size: 2rem;
    }

    .logo_div {
        width: 140px;
        height: 80px;
    }
}

/* ///////////////არტვორქს.ჰტმლ///////////////// */
@media (max-width:768px) {
    .section_div {
        width: 90%;
        height: 182px;
    }

    .h1 {
        font-size: 1.25rem;
        padding: 14px 0 17px 0;
    }

    .text2 {
        width: 95%;
        font-size: 1rem;
    }

    article {
        height: 900px;
    }

    .h2 {
        padding: 46px 0 96px 0;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 64px;
        height: 668px;
    }

    .card {
        width: 100%;
        height: 299px;
        padding-top: 18px;
    }

    .card_div {
        width: 100%;
        height: 210px;
    }

    .h3 {
        font-size: 1.5rem;
        padding-top: 27px;
    }

    .card1 {
        display: none;
    }
}

@media (max-width:648px) {

    .container1 {
        max-width: 647px;
    }

    .section_div {
        height: 249px;
        padding-top: 10px;
    }

    .card_div {
        width: 70%;
    }

    .h3 {
        font-size: 1.15rem;
    }
}

@media (max-width:627px) {
    .container1 {
        max-width: 627px;
        padding-top: 80px;
    }
}
/* ///////////////ცონტაქტ.ჰტმლ///////////////// */
@media (max-width:768px) {
    .container2 {
        max-width: 768px;
        max-height: 700px;
    }

    main {
        height: 450px;
    }

    .main1 {
        max-width: 720px;
        height: 370px;
        padding: 28px 20px 20px;

    }

    .information1 {
        gap: 32px;
    }

    .information2 {
        gap: 32px;
    }

    .information3 {
        gap: 32px;
    }

    .fa-phone {
        font-size: 2rem;
    }

    .fa-envelope {
        font-size: 2rem;
    }

    .fa-location-dot {
        font-size: 2rem;
    }

    .info {
        gap: 0;
    }

    .input1 {
        width: 145px;
    }

    textarea {
        height: 103px;
    }

    .your_info {
        margin-bottom: 23px;
    }

    .label2 {
        top: 40%;
        right: 40%;
    }

    textarea {
        padding: 9px 9px 9px 9px;
    }

    .button {
        margin-top: 28px;
    }

    button {
        width: 202px;
        height: 65px;
    }
}

@media (max-width:712px) {
    .input1 {
        width: 80%;
    }

    .label1 {
        font-size: 0.80rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    .text3 {
        font-size: 0.80rem;
    }

    .button {

        font-size: 1.75rem;
    }
}

@media (max-width:470px) {
    .text3 {
        font-size: 0.70rem;
    }
}

@media (max-width:497px) {
    .label1 {
        font-size: 0.73rem;
    }

    button {
        width: 160px;
    }
}